---
import { formatShortDate } from '@/lib/post';
import { getPostUrl } from '@/lib/blog';

const { post } = Astro.props;
---

<a class="post-card" href={getPostUrl(post)} data-sparkle-link>
  <time class="post-card__date" datetime={post.data.pubDate.toISOString()}>{formatShortDate(post.data.pubDate)}</time>
  <span class="post-card__body">
    <span class="post-card__title">{post.data.title}</span>
    <span class="post-card__desc">{post.data.description}</span>
  </span>
</a>
